@model RGSWeb.Models.Announcement

@{
    ViewBag.Title = "Delete";
}

<h2>Delete Announcement</h2>
<hr />

<h4>Are you sure you want to delete this?</h4>
<div>
    <b>Title - @Model.Title</b>
    <div>
        Created on @Model.CreatedOn.ToLongDateString() for @Html.ActionLink(Model.Class.Title, "Details", "Classes", new { id = Model.Class.Id }, null)

        <p>
            <blockquote>
                @Model.Description
            </blockquote>
            <footer style="margin-bottom: 20px">
                By @Html.ActionLink(string.Format("{0}, {1}", Model.Class.Teacher.LastName, Model.Class.Teacher.FirstName), "Details", "Teachers", new { id = Model.Class.Teacher.Id }, null)
            </footer>
        </p>

        @using(Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
                <input type="submit" value="Delete" class="btn btn-danger" />
            </div>
        }
    </div>
</div>
