@using RGSWeb.Models
@model Class

@{
    ViewBag.Title = "Details";
}

<h2>Class - @Model.Title</h2>
<hr />

<div class="container">
    <div class="row">
        <div class="col-md-5">
            <p>
                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
                @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-default" })
                @Html.ActionLink("Delete", "Delete", new { id = Model.Id }, new { @class = "btn btn-danger" })
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <h5>Details</h5>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Prefix)</th>
                        <th>@Html.DisplayNameFor(model => model.Id)</th>
                        <th>@Html.DisplayNameFor(model => model.Section)</th>
                        <th>@Html.DisplayNameFor(model => model.Teacher)</th>
                    </tr>
                    <tr>
                        <td>@Model.Prefix</td>
                        <td>@Model.CourseNumber</td>
                        <td>@Model.Section</td>
                        <td>@Html.ActionLink(string.Format("{0}, {1}", Model.Teacher.LastName, Model.Teacher.FirstName), "Details", "Users", new { userName = Model.Teacher.Email }, null)</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-lg-6">
            <h5>Grade distribution</h5>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.GradeDistribution.Homework)</th>
                        <th>@Html.DisplayNameFor(model => model.GradeDistribution.Quiz)</th>
                        <th>@Html.DisplayNameFor(model => model.GradeDistribution.Project)</th>
                        <th>@Html.DisplayNameFor(model => model.GradeDistribution.Exam)</th>
                        <th>@Html.DisplayNameFor(model => model.GradeDistribution.Other)</th>
                    </tr>
                    <tr>
                        <td>@Html.DisplayFor(model => model.GradeDistribution.Homework)</td>
                        <td>@Html.DisplayFor(model => model.GradeDistribution.Quiz)</td>
                        <td>@Html.DisplayFor(model => model.GradeDistribution.Project)</td>
                        <td>@Html.DisplayFor(model => model.GradeDistribution.Exam)</td>
                        <td>@Html.DisplayFor(model => model.GradeDistribution.Other)</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Work items</h3>
                </div>
                <div class="panel-body">
                    @{ var workItems = (IEnumerable<WorkItem>)ViewBag.WorkItems;}
                    @if(workItems.Count() == 0)
                    {
                        <p>No work items for this class</p>
                        @Html.ActionLink("Create New", "Create", "WorkItems", new { classId = Model.Id }, new { @class = "btn btn-success" })
                    }
                    else
                    {
                        <div class="list-group">
                            @foreach(var workItem in workItems.Take(5))
                            {
                                @Html.ActionLink(string.Format("{0}{1}", workItem.Title.Substring(0, Math.Min(workItem.Title.Length, 40)),
         workItem.Title.Length > 40 ? "..." : ""), "Details", "WorkItems", new { id = workItem.Id }, new { @class = "list-group-item" });
                            }
                        </div>
                        @Html.ActionLink("Create New", "Create", "WorkItems", new { classId = Model.Id }, new { @class = "btn btn-success", style = "margin-right: 5px" })
                        @Html.ActionLink("View all", "Index", "WorkItems", new { classId = Model.Id }, new { @class = "btn btn-default" })
                    }
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Announcements</h3>
                </div>
                <div class="panel-body">
                    @{ var announcements = (IEnumerable<Announcement>)ViewBag.Announcements;}
                    @if(announcements.Count() == 0)
                    {
                        <p>No announcements for this class</p>
                        @Html.ActionLink("Create New", "Create", "Announcements", new { classId = Model.Id }, new { @class = "btn btn-success" })
                    }
                    else
                    {
                        <div class="list-group">
                            @foreach(var announcement in announcements)
                            {
                                @Html.ActionLink(string.Format("{0}{1}", announcement.Title.Substring(0, Math.Min(announcement.Title.Length, 40)), announcement.Title.Length > 40 ? "..." : ""), "Details", "Announcements", new { id = announcement.Id }, new { @class = "list-group-item" });
                            }
                        </div>
                        @Html.ActionLink("Create New", "Create", "Announcements", new { classId = Model.Id }, new { @class = "btn btn-success", style = "margin-right: 5px" })
                        @Html.ActionLink("View all", "Index", "Announcements", new { classId = Model.Id }, new { @class = "btn btn-default" })
                    }
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Enrollments</h3>
                </div>
                <div class="panel-body">
                    <div class="list-group">
                        @Html.ActionLink("Current Students", "Current", new { classId = Model.Id }, new { @class = "list-group-item" })
                        @Html.ActionLink("Wait list", "Waitlist", new { classId = Model.Id }, new { @class = "list-group-item" })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>