@using RGSWeb.Models
@model IEnumerable<Enrollment>

<h3>Wait list for @ViewBag.Class.Title</h3>

@{
    int classId = ViewBag.Class.Id;

    <div class="table-responsive">
        <table class="table table-bordered">
            <tr>
                <th>Student name</th>
                <th>Student email</th>
                <th></th>
            </tr>

            @foreach(var enrollment in Model)
            {
                <tr>
                    <td>@string.Format("{0}, {1}", enrollment.Student.LastName, enrollment.Student.FirstName)</td>
                    <td>@enrollment.Student.Email</td>
                    <td>
                        @Html.ActionLink("Accept", "UpdateWaitlist", new { updates = new List<EnrollmentBindingModel> { new EnrollmentBindingModel { Accept = true, ClassId = classId, StudentUserName = enrollment.Student.Email } } }, new { @class = "btn btn-default" })
                        @Html.ActionLink("Reject", "UpdateWaitlist", new { updates = new List<EnrollmentBindingModel> { new EnrollmentBindingModel { Accept = false, ClassId = classId, StudentUserName = enrollment.Student.Email } } }, new { @class = "btn btn-default" })
                    </td>
                </tr>
            }

        </table>
    </div>
}